*, *::after,*::before{
    box-sizing: border-box;
}
:root{
    --color-blue:#00a2ff;
    --color-dark-gray:#666666;
    --color-gray:#E2E8F0;
    --color-white:#ffffff;
    --color-yellow:#ffe100;
    --font-main:'Roboto', sans-serif;
}
body {
    font-family: var(--font-main);
}
/* MAIN CONTAINER */
.container{
    background-color: var(--color-gray);
    display: grid;
    grid-template-columns: 1fr 2.5fr 1fr;
    grid-template-rows: 0.5fr auto auto;
    height: 100vh;
    width: 100%;
    grid-template-areas:"menu profile profile"
                        "menu projects discover"
                        "menu projects discover";
}
.container>*{
    border: 1px solid red;
}

/* MENU */
.menu{
    background-color: var(--color-blue);
    color: var(--color-white);
    display: flex;
    flex-direction: column;
    gap: 40px;
    grid-area: menu;
}
a,a:link,a:visited{
    color: var(--color-white);
    cursor: pointer;
    text-decoration: none;
}
.link{
    align-items: center;
    cursor: pointer;
    display: flex;
    font-size: 20px;
    font-weight: 600;
    gap: 15px;
    padding: 20px 0 0 20px;
}
.link a:hover,h1:hover{
    color: var(--color-gray);
}
.title .link{
    font-size: 22px;
    font-weight: 700;
}
.link img{
    padding: 10px;
    width: 40px;
}
.title img{
    padding: 0;
    width: 40px;
}
/* PROFILE */
.profile{
    background-color: var(--color-white);
    display: flex;
    flex-direction: column;
    gap: 20px;
    grid-area: profile;
    justify-content: space-between;
    padding: 20px 50px;
}
.top{
    align-items: center;
    display: flex;
    justify-content: space-between;
}
.top >div{
    align-items: center;
    display: flex;
    gap: 20px;
}
label{
    cursor: pointer;
}
input{
    background-color: var(--color-gray);
    border: 0;
    border-radius: 20px;
    outline: 0;
    padding: 8px;
    width: 40vw;
}
.top img{
    width: 20px;
}
.top .profile-picture{
    width: 40px;
}
.top h2{
    font-weight: 600;
}

.bottom{
    align-items: center;
    display: flex;
    justify-content: space-between;
}
.username{
    display: flex;
    gap: 8px;
}
.username .profile-picture{
    width: 70px;
}
.username div{
    display: flex;
    flex-direction: column;
    gap: 8px;
    justify-content: center;
}
.username p{
    font-size: 10px;
    font-weight: 700;
}
.username h2{
    font-weight: 700;
    text-wrap: wrap;
}
.profile-actions{
    align-items: center;
    display: flex;
    justify-content: space-between;
    width: clamp(240px,25%,350px);
}
.bottom button{
    background-color: var(--color-blue);
    border: 0;
    border-radius: 20px;
    color: var(--color-white);
    cursor: pointer;
    font-weight: 600;
    padding: 10px 30px;
}

/* PROJECTS */
.projects{
    background-color: var(--color-gray);
    grid-area: projects;
    padding: 20px 15px;
}
h2{
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 15px;
}
.projects-list{
    display: grid;
    grid-gap: 15px;
    grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
}
.project{
    background-color: var(--color-white);
    border-left: 7px solid var(--color-yellow);
    border-radius: 8px;
    padding: 25px 20px;
    height: 1fr;

}
.project h3{
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 10px;
}
.project p{
    color: var(--color-dark-gray);
    font-size: 14px;
    font-weight: 400;
    height:120px;
}
.project-actions{
    display: flex;
    justify-content: right;
    gap: 10px;
}
.project-actions img{
    width: 25px;
}
/* DISCOVER */
.discover{
    grid-area: discover;
    background-color: var(--color-gray);
}
/* ANNOUNCEMENTS */
.announcements{
    padding: 25px 0;
}
.announcements-list{
    background-color: var(--color-white);
    border-radius: 8px;
    padding: 2vw;
}
.announcement:hover{
    cursor: pointer;
}
.announcement h3{
    font-weight: 500;
    font-size: 15px;
    margin-bottom: 4px;
}
.announcement p{
    font-size: min(16px,1vw);
    color: var(--color-dark-gray);
    margin-bottom: 4px;
}
.announcement hr{
    margin: 10px 0;
    border-color: var(--color-gray);
}
/* TRENDING */
.trending{
    padding: 20px 0;
}